---
import Base from '../../layouts/Base.astro';
import PostTitleCard from '../../components/PostTitleCard.astro';

import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);

---

<Base>
	<main role="main" aria-label="blog content">
		<article>
			<section role="main" aria-labelledby="about-heading">
				<h1 set:html={post.data.title} />
				<blockquote><p set:html={post.data.description} /></blockquote>
				<Content />
			</section>
		</article>
	</main>
	<footer>
		<div class="flex md:flex-col justify-center text-left gap-[1rem] md:border-l-2 md:pl-8">
			<a href="/" class="text-xl">subscribe?</a>
			<a href="/" class="text-xl">previous</a>
			<a href="/" class="text-xl">next</a>
			<a href="/rss.xml" class="text-xl">rss</a>
		</div>
	</footer>
</Base>