---
import Base from '../../layouts/Base.astro';
import { Image } from 'astro:assets';
import myImage from '../../assets/blog-cover.jpg';

import { type CollectionEntry, getCollection, render } from 'astro:content';

const posts = await getCollection('blog');

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);

---
<Base>
	<main role="main" aria-label="blog content">
		<article>
			<section role="main" aria-labelledby="about-heading" class="w-full">
			<hgroup>
				<h1>Typing at the Terminal</h1>
				<p>Technical essays on software systems: protocols, networks, languages and architecture</p>
			</hgroup>
			<figure>
				<Image src={myImage} alt="Drops of Life, Nicholas Roerich (1924)" title="Nicholas Roerich, 1924" />
				<figcaption><i>Drops of Life</i>. Nicholas Roerich, 1924.</figcaption>
			</figure>
                {posts.map((post) => 
                    <div>
					<p class="dark:text-white/80 text-black/60 mb-[1rem] text-left">{post.data.pubDate.toLocaleDateString("en", {year: "numeric",month: "long", day: "numeric"})}</p>
                    <p set:html={post.data.description} class="px-4"/>
					<a href={`/blog/${post.id}`}><p class="mt-[1rem] text-right" set:html={post.data.title} /></a>
					</div>
                )}
			</section>
		</article>
	</main>
	<footer>
		<div class="flex md:flex-col justify-center text-left gap-[1rem] md:pl-8">
			<a href="/subscribe" class="text-xl">subscribe?</a>
			<a href="/rss.xml" class="text-xl">rss</a>
		</div>
	</footer>
</Base>
