---
import Base from '../layouts/Base.astro';
import Highlight from '../components/Highlight.astro';
import { Code } from 'astro:components';
import { Image } from 'astro:assets';
import Headshot from '../assets/professional-photo.jpg'
---

<Base home={true}>
	<main role="main" aria-label="Main content">
		<article>
			<section role="main" aria-labelledby="about-heading">
				<hgroup>
					<h1 id="hero-heading">Hi, I'm Akshat Mahajan</h1>
					<h2 id="about-heading" class="sr-only">About Akshat</h2>
				</hgroup>
				<h2>I build distributed systems.</h2>
				<p>
				<strong>I've built scalable platforms</strong> at <a href="https://www.cloudflare.com/">Cloudflare</a>, <a href="https://construction.autodesk.com/products/plangrid/">PlanGrid</a> and <a href="https://www.brightedge.com/">BrightEdge</a>.</p>
				<p>At Cloudflare, I wrote the first Rust library for <a href="https://crates.io/crates/web-bot-auth"><code>web-bot-auth</code></a>, 
				verifying over <strong>250 million</strong> requests.</p>
				<p>Here's my <a href="/resume.pdf" aria-label="Download Akshat's resume PDF">resumé</a>, my <a href="https://github.com/AkshatM" aria-label="Visit Akshat's GitHub profile">GitHub</a>, and my <a href="https://www.linkedin.com/in/mahajanakshat/" aria-label="Visit Akshat's LinkedIn profile">LinkedIn</a>.</p>
				<p>Get in touch with me over <a href="mailto:me@akshatmahajan.com?subject=Hello%20from%20the%20world!" aria-label="Send email to Akshat">email</a>.</p>
			</section>
		</article>
	</main>
	<footer>
		<div class="flex flex-row justify-center text-left gap-[1rem]">
			<Image src={Headshot} alt="A photo of Akshat Mahajan" class="rounded-full w-2/3" />
		</div>
	</footer>
</Base>
