---
interface Props {
	href: string;
	code?: bool
}

const { href, code = false } = Astro.props;
---

{
    code ? <code><a href={href} class="underline hover:decoration-blue-600 decoration-2 underline-offset-8 focus:text-fuchsia-400"><slot /></a></code> : <a href={href} class="underline hover:decoration-blue-600 decoration-2 underline-offset-8 focus:text-fuchsia-400"><slot /></a>
}