{% extends "main.html" %} 
{% block extracss %}
{% endblock %} 
{% block content %}
<div class="container">
    <h3 class="center-align">About Me</h3>
    <p class="center-align"> Software engineer who wants to build robust systems.</p>
    <p class="center-align"> Speaks C++, Scala, Java, Python and Javascript. Knows some Rust.</p>
    <p class="center-align">Currently builds Hadoop clusters and multi-threaded Python applications.</p>
    <p class="center-align">Top Writer on Quora, 3.9K+ reputation on StackOverflow, DevOps engineer at <a href="http://www.brightedge.com/">BrightEdge.</a></p>
    <p class="center-align">Not your average Big Data guy.</p>
</div>
<br>
<div class="container">
    <h5 class="center-align">Things I Like</h5>
    <ul class="center-align">
        <li>vim</li>
        <li>Documentation</li>
        <li>The KISS principle</li>
        <li>Distributed systems</li>
    </ul>
</div>
{% endblock %}