{% extends "main.html" %} 
{% block extracss %} {% endblock %} 
{% block content %}
<div class="container">
    <h3 class="center-align">Projects</h3>
    <div class="card transparent">
        <div class="card-content black-text">
            <span class="card-title"><a href="https://github.com/AkshatM/wildcard_import_fixer"><pre>wildcard_import_fixer</pre></a></span>
            <p>Find + replace for universal imports in PYthon</p>
        </div>
        <div class="card-action">
            <a href="https://github.com/AkshatM/wildcard_import_fixer">Source</a>
            <div class="chip">Python</div>
        </div>
    </div>
    <div class="card transparent">
        <div class="card-content black-text">
            <span class="card-title"><a href="http://akshatm.github.io/NoteTaker/">NoteTaker</a></span>
            <p>A public client-side persistent notetaking app built with React and Semantic UI.</p>
        </div>
        <div class="card-action">
            <a href="https://github.com/AkshatM/NoteTaker">Source</a>
            <div class="chip">React</div><div class="chip">Semantic UI</div>
            <div class="chip">HTML5 Local Storage</div>
        </div>
    </div>
    <div class="card transparent">
        <div class="card-content black-text">
            <span class="card-title"><a href="http://akshatm.github.io/hashable_collections/"><pre>hashable_collections</pre></a></span>
            <p>Implements hashable dictionaries and lists in Python.</p>
        </div>
        <div class="card-action">
            <a href="https://github.com/AkshatM/hashable_collections">Source</a>
            <div class="chip">Python</div>
        </div>
    </div>
        <div class="card transparent">
        <div class="card-content black-text">
            <span class="card-title"><a href="http://akshatm.github.io/Scribe/">Scribe</a></span>
            <p>Embeds images or friendly links from raw URLs in Gmail automatically.</p>
        </div>
        <div class="card-action">
            <a href="https://github.com/AkshatM/Scribe">Source</a>
            <div class="chip">Chrome Extension</div>
            <div class="chip">Python</div>
            <div class="chip">Javascript</div>
        </div>
    </div>
        <div class="card transparent">
        <div class="card-content black-text">
            <span class="card-title"><a href="https://github.com/AkshatM/BoxOfficeMojo-Data/">BoxOfficeMojo Parser</a></span>
            <p>Converts BoxOfficeMojo.com tables into Pandas dataframes automatically</p>
        </div>
        <div class="card-action">
            <a href="https://github.com/AkshatM/BoxOfficeMojo-Data">Source</a>
            <div class="chip">Python</div>
        </div>
    </div>
</div>
{% endblock %}