---
import type { HTMLTag, Polymorphic } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

import FormattedDate from '../FormattedDate.astro'

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<'post'>
	withDesc?: boolean
}

const { as: Tag = 'div', post, withDesc = false } = Astro.props
const postDate = post.data.updatedDate ?? post.data.publishDate
---

<Tag>
	<FormattedDate date={postDate} />
	{post.data.draft && <span>(Draft)</span>}
	<a data-astro-prefetch href={`/blog/${post.slug}/`}>{post.data.title}</a>
	{withDesc && post.data.description && <p>{post.data.description}</p>}
</Tag>
