---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="text-black bg-[#F5F5F5] dark:text-white dark:bg-[#1C1C1C]">
		<main>
			<div class="flex flex-col min-h-screen font-[Lora] align-center p-[2rem] gap-[3rem]">
            <slot />
			</div>
		</main>
	</body>
</html>